<div>
    <h1 class="w3-center w3-container w3-blue">Lista de Gibis</h1>
    <div id="input-gibi" class="w3-margin">
        <form>
            <label>Id: </label><input type="text" id="txtId" maxlength="6" name="id" 
                [(ngModel)]="searchId">
            <label id="param" class="w3-margin-left">Título: </label><input type="text" id="txtTitulo" maxlength="100" name="titulo" 
                [(ngModel)]="searchTitulo">

            <button type="button" id="btnListar" class="w3-btn w3-blue w3-margin-left" (click)="goToListar()">Listar</button>
            <button type="button" id="btnNovo" class="w3-btn w3-blue w3-margin-left" (click)="goToCreate()">Novo</button>
        </form>
    </div>
    <div class="w3-responsive tbGibis">

        <table id="tbGibis" class="w3-table-all">

            <thead>
                <tr class="w3-blue">
                    <td class="w3-center">Id</td>
                    <td class="w3-center">Titulo</td>
                    <td class="w3-center">Valor</td>
                    <td class="w3-center">Data Pub</td>
                    <td class="w3-center">Delete</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let gibi of gibis">
                <!-- <tr *ngFor="let caderno of cadernos"> -->

                    <td class="w3-center"><a style="cursor: pointer;text-decoration: underline;" (click)="goToEdit(gibi.Id)">{{gibi.Id}}</a></td>
                    <td class="w3-center">{{gibi.Titulo}}</td>
                    <td class="w3-center">{{gibi.Valor}}</td>
                    <td class="w3-center">{{gibi.DataPub | date: "MM/dd/yyyy"}}</td>
                    <td class="w3-center"><button type="button" id="btnExcluir" class="w3-btn w3-blue" (click)="goToDelete(gibi.Id)">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>